= content_for :header_info do
  .row
    .col-md-6
      %h1
        %table
          %tr
            %td.cell_bottom= t("home_content.welcome_message")
            %td.cell_separate &nbsp;
            %td= image_tag "logo-x.jpg"
      %p= t("home_content.welcome_description")
      .margin50px
      %p= t("home_content.welcome_can")+':'
      %ul
        %li= t("home_content.welcome_li_1")
        %li= t("home_content.welcome_li_2")
        %li= t("home_content.welcome_li_3")
    .col-md-4= image_tag "logo.jpg"