= content_for :header_info do
  %h2= t("section.edit_section_link", title: @section.name)
.row
  = form_for @section, url: section_path(id: @section.id), html: {role: "form", class: "form-horizontal"} do |section_form|
    - if @section.errors.any?
      #error_explanation
        %h2= pluralize(@section.errors.count, "error")
        %ul
          - @section.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = section_form.label :name, t("section.name")+':', class: "col-lg-2 control-label required"
      .col-lg-10
        .col-lg-12= section_form.text_field :name, class: "form-control", required: true
    .form-group
      = section_form.label :description, t("section.description")+':', class: "col-lg-2 control-label"
      .col-lg-10
        .col-lg-12= section_form.text_area :description, class: "form-control", rows: 3
    -#.form-group
    -#  = section_form.label :controls_count, t("section.controls_number")+':', class: "col-lg-2 control-label"
    -#  .col-lg-10
    -#    .col-lg-2= section_form.number_field :controls_count
    .form-group
      .pull-right
        = link_to t("buttons.cancel"), edit_audit_path(id: section_form.object.audit.id), class: "btn btn-danger"
        = section_form.submit t("section.edit_section_button"), class: "btn btn-success"
    .margin50px
    .row
      .content
        %h3= t("controls.controls")
        .pull-right
          = link_to t("controls.new_hl_control"), new_control_path(section: @section.id), class: "btn btn-success"
      .margin50px
      %table.table
        %colgroup
          %col{:width => "25%"}
          %col{:width => "50%"}
          %col{:width => "15%"}
          %col{:width => "10%"}
        %thead
          %th= t("controls.name")
          %th= t("controls.description")
          %th= t("controls.grade_measure")
          %th= t("audits.actions")
        %tbody
          - if @section.controls.blank?
            %tr
              %td{:colspan => 6}
                = t("controls.empty_results")
          - else
            - @section.controls.each do |control|
              %tr
                %td= control.name
                %td= control.description
                %td= t("#{control.grade}")
                %td
                  = link_to "", edit_control_path(id: control.id), class: "glyphicon glyphicon-edit text-warning", title: t("buttons.edit")
                  = link_to "", control_path(id: control.id), method: 'delete', class: "glyphicon glyphicon-remove text-danger", title: t("buttons.remove"), confirm: t("audits.remove_audit_alert")