!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "AudIT"
    %meta{:content => content_for?(:description) ? yield(:description) : "App_Name", :name => "description"}
    = stylesheet_link_tag :application, :media => "all"
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body
    %header.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button{:type => "button", :class => "navbar-toggle", 'data-toggle' => "collapse", 'data-target' => ".navbar-collapse"}
            %span.icon-bar
          = link_to t("home"), root_path, :class => 'navbar-brand'
        .navbar-collapse.collapse
          = render 'layouts/navigation'
          = render 'devise/sessions/navbar_sign_in_form'
          = render 'layouts/languages'
    %main{:role => "main"}
      .container
        .jumbotron
          = yield(:jumbotron)
        = render 'layouts/messages'
        = yield
    %footer
